<div class="auth-container">
  <!-- <p>I have a lot more work that I want to share with you. </p> -->
  <div class="row">
    <!-- Desktop -->
    <div class="d-none d-md-block col-md-7 offset-lg-2 col-lg-5">
      <h3>Password Required</h3>
      <div class="message">
        <p>Some of my work are not public, but available in shareable format. Enter the password to unlock your access to these pieces.</p><br>
        <p>If you have not got the password, send me a message here.</p>
        <a href="mailto:info@kazsaegusa.com">info[at]kazsaegusa.com</a>
      </div>
    </div>
    <div class="d-none d-md-block col-md-5 col-lg-3 message">
      <p [ngClass]="{'active': showError}" class="error-message">error: {{ error }}</p>
      <form (ngSubmit)="submit()">
        <div class="form-group password-field">
          <input type="password" placeholder="Password" name="password" class="form-control" [(ngModel)]="password" />
        </div>
        <div class="form-group submit-button">
          <button class="btn btn-primary" type="submit">Unlock</button>
        </div>
      </form>
    </div>
    <div class="d-none d-md-block col-md-1"></div>
  </div>
  <div class="row">
    <!-- Mobile -->
    <div class="d-xl-none d-lg-none d-md-none col-sm-8 offset-sm-2 col-xs-12">
      <h3>Password Required</h3>
      <form (ngSubmit)="submit()">
        <div class="form-group password-field">
          <input type="password" placeholder="Password" name="password" class="form-control" [(ngModel)]="password" />
        </div>
        <div class="form-group submit-button">
          <button class="btn btn-primary" type="submit">Unlock</button>
        </div>
      </form>
      <p *ngIf="showError" [ngClass]="{'active': showError}" class="error-message error-message-mobile">error: {{ error }}</p>
      <div class="message">
        <p>Some of my work are not public, but available in shareable format. Enter the password to unlock your access to these pieces.</p><br>
        <p>If you have not got the password, send me a message here.</p>
        <a href="mailto:info@kazsaegusa.com">info[at]kazsaegusa.com</a>
      </div>
    </div>
  </div>
</div>
