@import '../../../../assets/styles/colors';

.auth-container {
  padding-top: 50px;

  .message {
    padding: 30px 0 0 0;
  }

  .password-field {
    margin: 20px 0 30px 0;
  }

  .error-message {
    width: 100%;
    top: 50px;
    padding: 2px;
    text-align: center;
    border: 2px solid $color-japanese-orange-dark;
    border-radius: 5px;
    color: $color-japanese-orange-raw;
    background: $color-japanese-orange-light;
    opacity: 0;
    transition: opacity .1s ease;

    &.active {
      opacity: 1;
    }

    &.error-message-mobile {
      margin: 10px 0 0 0;
    }
  }
}
