.folio-navbar {
  width: 100%;
  padding: 20px 0;

  a {
    text-decoration: none;
  }

  .menu {
    display: flex;
    float: right;

    .menu-item {
      // padding: 0 30px;
      margin-left: 60px;
    }
  }

  .logo {
    // padding: 0 10px;
  }
}
