@import '../../../../assets/styles/colors';

.project-container {
  .page-title {
    padding-bottom: 10px;
  }

  .subheader {
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  // Video Contents
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 30px;

    .embedded-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .text-container {
    margin-bottom: 30px;
  }
}
