<div class="work-overview row">
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
      <!-- <p>project 1</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
      <!-- <p>project 2</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
    <!-- <p>project 3</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
    <!-- <p>project 4</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
    <!-- <p>project 5</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
    <!-- <p>project 6</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
    <!-- <p>project 7</p> -->
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="project-thumb">
    <!-- <p>project 8</p> -->
    </div>
  </div>
</div>
