<div class="project-container">
  <div class="video-container">
    <iframe class="embedded-video" src="https://www.youtube.com/embed/VQ1F0UEbk_Y" frameborder="0" allowfullscreen></iframe>
  </div>
  <h3 class="page-title">Roygbiv</h3>
  <div class="row">
    <div class="col-sm-12">
      <h5 class="subheader">Overview</h5>
      <p>This is a music video for an electronica band, UQiYO’s single cut song titled “ROYGBIV”, which stands for initials of each color in a rainbow. I implemented a few algorithmic effects to process input clips: a line drawing effect with OpenCV, a fluid simulation effect and a deep learning style transfer. Even though the original videos are just ordinary sceneries and objects found in NYC, these different visual effects curve a storyline in the transition of scenes and illuminate different perspective of how humans can differently perceive a scenery.</p>
      <h5 class="subheader">Responsibilitles</h5>
      <h5 class="subheader">Process</h5>
    </div>
  </div>
</div>
