// gray scale
$color-black: #000000;
$color-dark-gray: #333333;
$color-medium-gray: #777777;
$color-light-gray: #DDDDDD;
$color-white: #FFFFFF;

// color palette
$color-japanese-blue: #165E83;
$color-japanese-blue-dark: #234794;
$color-japanese-orange-raw: rgba(242, 102, 73, 1.0);
$color-japanese-orange-dark: rgba(242, 102, 73, 0.6);
$color-japanese-orange-medium: rgba(242, 102, 73, 0.3);
$color-japanese-orange-light: rgba(242, 102, 73, 0.1);
