@import './colors.scss';

$font-weight-regular: 300;
$font-weight-bold: 700;
$font-style-italic: italic;

$font-size-h1: 50px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;
$font-size-body: 14px;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $color-dark-gray;
  font-family: 'Averia Serif Libre', cursive;
  margin: 0;
}

h1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-h1;
}

h2 {
  font-weight: $font-weight-bold;
  font-size: $font-size-h2;
}

h3 {
  font-weight: $font-weight-bold;
  font-size: $font-size-h3;
}

h4 {
  font-weight: $font-weight-regular;
  font-size: $font-size-h4;
}

h5 {
  font-weight: $font-weight-regular;
  font-size: $font-size-h5;
}

h6 {
  font-weight: $font-weight-regular;
  font-size: $font-size-h6;
}

p {
  font-weight: $font-weight-regular;
  font-size: $font-size-body;
}

a {
  font-family: 'Averia Serif Libre', cursive;
  margin: 0;
  font-weight: $font-weight-regular;
  font-size: $font-size-body;
  color: $color-japanese-blue;

  &:hover {
    color: $color-japanese-blue-dark;
  }
}
